<h1>Here's some stuff you can make</h1>

<p>You selected the following ingredients:</p>
<ul>
	<%- @selected_ingredient_ids.each do |ingredient_id| %>
		<li><%= Ingredient.find(ingredient_id).name %></li>
	<%- end %>
</ul>
<p>Might we suggest you try the following dope recipes based on your selection?</p>
<ul>
	<%- @selected_recipes = RecipeIngredient.where(:ingredient_id => @selected_ingredient_ids) %>

	<% recipe_list = [] %>
	<%- @selected_recipes.each do |recipe_item| %>
		<% unless recipe_list.include?(recipe_item.recipe) %>
		<li><%= link_to recipe_item.recipe.name, recipe_path(recipe_item.recipe) %> </li>
		<% recipe_list << recipe_item.recipe %>
		<% end %>
	<%- end %>
</ul>