<h1>Here's some stuff you can make</h1>

<p>You selected the following shit:</p>
<ul>
	<%- @selected_ingredient_ids.each do |ingredient_id| %>
		<li><%= Ingredient.find(ingredient_id).name %></li>
	<%- end %>
</ul>
<p>Might we suggest you try the following dope recipes based on your selection?</p>
<ul>
	<%- @selected_recipes = RecipeIngredient.where(:ingredient_id => @selected_ingredient_ids) %>

	<%- @selected_recipes.each do |recipe_item| %>
		<%= recipe_item.recipe.name %><br>
	<%- end %>
</ul>