<h1>Select Ingredients</h1>


<ul>
<%= form_tag('/search', :method => "get") do %>
    <%-	@ingredients.each do |ingredient| %>
    <li> 
    	<%= check_box_tag("ingredient_ids[]", ingredient.id) %> 
    	<%= label_tag("ingredient_ids", ingredient.name) %>
    </li>
    <%- end %>
    <%= submit_tag "Let's Cook This Bitch like Walter and Jesse!" %>
<% end %>
</ul>
