<div class="main-header-wrap">
	<header>
		<hgroup>
			<h1>Cilantropic</h1>
			<h2>A recipe site that may or may not have anything to do with cilantro.</h2>
		</hgroup>
	</header>
</div> <!-- main-header-wrap -->
<section class="ingredients-area">
	<%= render 'ingredient-list' %>
</section>