// Color variables

$button-color: #94b931, #9b9a3d;
$light-button-color: lighten(#94b931, 10%), lighten(#9b9a3d, 10%);
$brand-green: #51B931;
$transparent-brand-green: rgba(81, 185, 49, 0.5);
$transparent-brand-green-lighter: rgba(81, 185, 49, 0.75);
$gray: #ccc;
$black: #333;
$yellow: #fff000;
$brown: #814d03;
$black-transparent: rgba(0,0,0,0.6);
$whiteLite: rgba(255,255,255,0.5);
$errorRed: #ffa68a;


// Font 

$proxima: "proxima-nova-alt";

// Transitions

@mixin transition($type: all, $speed: 0.3s) {
	-webkit-transition: $type $speed ease;
	-moz-transition: $type $speed ease;
	-o-transition: $type $speed ease;
	-ms-transition: $type $speed ease;
} 

//Border Stuff

@mixin borderRadius($radius: 15px) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

@mixin sleekBorder($color: #ccc) {
	border-bottom: 1px solid $color;
	box-shadow: 0 2px 0 -1px #fff;
}

@mixin sleekDot() {
	
}


//Shadow

$textBlack: 0 1px 0 #333;
$textWhite: 0 1px 0 #fff;
$textBlackLite: 0 1px 0 rgba(0,0,0,0.1);
$textWhiteLite: 0 1px 0 rgba(255,255,255,0.3);
$mothereff: 0 1px 0 #fff000, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
$othereff: 0 1px 0 #fff000, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
