// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import 'configuration';

body {
	background: url(subtle_freckles_yellow.png);
	width: 100%;
	font-family: "proxima-nova-alt";
	color: #555;
	font-size: 16px;
}

ul, ol {
	margin: 0;
	padding: 0;
}

.wrap {
	width: 95%;
	margin: 85px auto;
}

.content {
	background: url(subtle_freckles.png) #fff;
	border: 15px solid $transparent-brand-green;
	box-shadow: 0px 3px 4px #333;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding: 10px 20px;
}

li { 
	list-style: none;
}

a {
	color:$brand-green;
}

h1 {
	color: $brand-green;
	text-align: center;
	font-size: 36px;
}

.main-header-wrap {
	text-align: center;
	border-bottom: 1px dashed #ccc;
	position: relative;
	height: 230px;

	h1 {
		font: normal 125px "lobster";
		text-shadow: $mothereff;
		color: $brand-green;
		margin: 0 20px;
		padding-bottom: 20px;
		border-bottom: none;
		@include transition(font);
	}
	
	h2 {
		font-size: 1.75em; /* 28px / 16px */
		margin: 0 0 15px; 
	}

	.heading-overlay {
		display: none;
		background: url(white-shim.png);
		width: 93%;
		min-height: 100px; 
		position: fixed;
		top: 0px;
		left: 4%;
		z-index: 24;
		border-bottom: 1px solid #ccc;
	}
}

.fix-utility-nav {
	position: fixed;
	right: 7%;
	top: 20px;
	z-index: 25;
	display: none;
}

.utility-nav {

	ul {
		margin: 17px 20px 0;
	}
	
	li {
		display: inline-block;
		text-align: center;
		padding: 0 25px;
	}

	li:first-child {
		border-right: 1px solid $brown;
		box-shadow: 1px 0 1px $whiteLite;
	}
	
	a {
		color: $black;
		text-decoration: none;
		z-index: 25;
	}
	
}

.utility-nav-wrap {
	position: absolute;
	top: -75px;
	right: 0px;
	width: auto;
	height: 80px;
	background: transparentize($yellow, 0.25);
	z-index: -1;
	text-shadow: $textWhiteLite;
	border: 5px solid transparentize(adjust-hue($yellow, -35), .50);
	@include borderRadius;


	li {
		display: inline-block;
		text-align: center;
		min-height: 20px;
		position: relative;
		top: -4px;
		padding-top: 2px;
		padding-bottom: 5px;
	}

	a {
		text-decoration: underline;
		color: $brown;

		&:hover {
			color: lighten($brown, 10);
		}
	}

	
}

.ingredients-area {
	margin: 50px 20px 0;

	h1 {
		font: 30px "lobster";
		color: $black;
		text-shadow: 1px 1px rgba(0,0,0,0.3);
	}
}

.ingredient-list {
	padding: 0;
	text-align: center;
	margin: 0 0 0 10px 
}

.ingredient-list li {
	display: inline-block;
	border: 1px solid $yellow;
	background: $transparent-brand-green-lighter;
	color: white;
	text-shadow: 1px 1px #333;
	margin-right: 40px;
	margin-bottom: 50px;
	position: relative;
	cursor: pointer;
	box-shadow: 0px 3px 4px rgba(0,0,0,0.4);
	
	img {
		max-width: 200px;
		display: block;
		position: relative;
		z-index: 0;
	}

	.ingredient-name {
		padding: 10px 0 15px;
		text-align: center;
	}

	input[type="checkbox"] {
		display: none;	
	}

	.checkmark {
		text-align: center;
		display: block;
		font-size: 0px;
		position: absolute;
		top: 11%;
		left: 27%;
		opacity: 0;
		color: $brand-green;
		@include transition; 
		z-index: 5;
	}

	.checkmark.big {
		font-size: 5em;
		width: 95px;
		height: 95px;
		opacity: 1;
		background: $yellow;
		-moz-border-radius: 50px;
		-webkit-border-radius: 50px;
		border-radius: 50px;
	}

	.checkmark-shadow {
		text-align: center;
		display: block;
		font-size: 0px;
		position: absolute;
		opacity: 0;
		top: 11%;
		left: 27%;
		z-index: 4;
		@include transition;
	}

	.checkmark-shadow.big {
		@extend .checkmark.big;
		background: $black-transparent;
		opacity: 1;
		top: 12%;
		left: 28%;
		position: absolute;
	}

	.callin {
		position: absolute;
		-webkit-transition: all .25s ease-in-out;
		-moz-transition: all .25s ease-in-out;
		-o-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
		width: 100%;
		height: 100%;
		z-index: 3;

		&:hover {
			box-shadow: inset 0px 0px 400px #fff;
		}

	}

}

input[type="submit"], input[type="button"] {
	background: #94b931;
	background-image: -webkit-linear-gradient(top, $button-color);
	background-image: -moz-linear-gradient(top, $button-color);
	background-image: -o-linear-gradient(top, $button-color);
	background-image: -ms-linear-gradient(top, $button-color);
	background-image: linear-gradient(top, $button-color);
	border: 1px solid #d4d204;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 5px 0 20px;
	font-size: 1em;
	padding: 15px;
	display: block;
	text-decoration: none;
	color: #fff;
	border: 1px solid #94913c;
	cursor: pointer;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

input[type="submit"]:hover, input[type="button"]:hover {
	background: lighten(#94b931, 10%);
	background-image: -webkit-linear-gradient(top, $light-button-color);
	background-image: -moz-linear-gradient(top, $light-button-color);
	background-image: -o-linear-gradient(top, $light-button-color);
	background-image: -ms-linear-gradient(top, $light-button-color);
	background-image: linear-gradient(top, $light-button-color);
	cursor: pointer;
}


// Some helper classes:

h1.fixed {
	position: fixed;
	z-index: 25;
	width: 100%;
	top: 0;
	left: -12px;
	font-size: 64px;
	@include transition(font);
}

.fix-position {
	position: absolute;
	bottom: 0;
	width: 100%;
}






