// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Color variables

$button-color: #94b931, #9b9a3d;
$light-button-color: lighten(#94b931, 10%), lighten(#9b9a3d, 10%);
$brand-green: #51B931;
$transparent-brand-green: rgba(81, 185, 49, 0.5);
$transparent-brand-green-lighter: rgba(81, 185, 49, 0.75);
$gray: #ccc;
$black: #333;
$yellow: #fff000;
$black-transparent: rgba(0,0,0,0.6);


// Transitions

@mixin transition($speed: 0.3s) {
	-webkit-transition: all $speed ease;
	-moz-transition: all $speed ease;
	-o-transition: all $speed ease;
	-ms-transition: all $speed ease;
} 

//Shadow

$mothereff: 0 1px 0 #fff000, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);

body {
	background: url(subtle_freckles_yellow.png);
	width: 100%;
	font-family: "proxima-nova-alt";
	color: #555;
	font-size: 16px;
}

.wrap {
	width: 65%;
	margin: 3% auto;
}

.content {
	background: url(subtle_freckles.png) #fff;
	border: 15px solid $transparent-brand-green;
	box-shadow: 0px 3px 4px #333;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding: 10px 20px;
}

li { 
	list-style: none;
}

h1 {
	color: $brand-green;
	text-align: center;
	font-size: 36px;
}

.main-header-wrap {
	text-align: center;
	border-bottom: 1px dashed #ccc;
	h1 {
		font: normal 90px "lobster";
		text-shadow: $mothereff;
		color: $brand-green;
		margin: 0 20px;
		padding-bottom: 10px;
		border-bottom: none;
	}
	
	h2 {
		font-size: 1.25em; /* 20px / 16px */
		margin: 0 0 15px; 
	}
}

.ingredients-area {
	margin: 50px 20px 0;

	h1 {
		font: 30px "lobster";
		color: $black;
		text-shadow: 1px 1px rgba(0,0,0,0.3);
	}
}

.ingredient-list {
	padding: 0;
	text-align: center; 
}

.ingredient-list li {
	display: inline-block;
	border: 1px solid $yellow;
	background: $transparent-brand-green-lighter;
	color: white;
	text-shadow: 1px 1px #333;
	margin-right: 40px;
	margin-bottom: 50px;
	position: relative;
	cursor: pointer;
	box-shadow: 0px 3px 4px rgba(0,0,0,0.4);
	
	img {
		max-width: 200px;
		display: block;
		position: relative;
		z-index: 0;
	}

	.ingredient-name {
		padding: 10px 0 15px;
		text-align: center;
	}

	input[type="checkbox"] {
		display: none;	
	}

	.checkmark {
		text-align: center;
		display: block;
		font-size: 0px;
		position: absolute;
		top: 11%;
		left: 27%;
		color: $brand-green;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		z-index: 5;
	}

	.checkmark.big {
		font-size: 5em;
		width: 95px;
		height: 95px;
		background: $yellow;
		-moz-border-radius: 50px;
		-webkit-border-radius: 50px;
		border-radius: 50px;
	}

	.checkmark-shadow {
		text-align: center;
		display: block;
		font-size: 0px;
		position: absolute;
		top: 11%;
		left: 27%;
		z-index: 4;
		@include transition;
	}

	.checkmark-shadow.big {
		@extend .checkmark.big;
		background: $black-transparent;
		top: 12%;
		left: 28%;
		position: absolute;
	}

	.callin {
		position: absolute;
		-webkit-transition: all .25s ease-in-out;
		-moz-transition: all .25s ease-in-out;
		-o-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
		width: 100%;
		height: 100%;
		z-index: 3;

		&:hover {
			box-shadow: inset 0px 0px 400px #fff;
		}

	}

}

input[type="submit"], input[type="button"] {
	background: #94b931;
	background-image: -webkit-linear-gradient(top, $button-color);
	background-image: -moz-linear-gradient(top, $button-color);
	background-image: -o-linear-gradient(top, $button-color);
	background-image: -ms-linear-gradient(top, $button-color);
	background-image: linear-gradient(top, $button-color);
	border: 1px solid #d4d204;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 5px 0 20px;
	font-size: 1em;
	padding: 15px;
	display: block;
	text-decoration: none;
	color: #fff;
	border: 1px solid #94913c;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

input[type="submit"]:hover, input[type="button"]:hover {
	background: lighten(#94b931, 10%);
	background-image: -webkit-linear-gradient(top, $light-button-color);
	background-image: -moz-linear-gradient(top, $light-button-color);
	background-image: -o-linear-gradient(top, $light-button-color);
	background-image: -ms-linear-gradient(top, $light-button-color);
	background-image: linear-gradient(top, $light-button-color);
}









